<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fishmanager">

    <!-- To auto-complete the email text field in the loginActivity form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginActivity" />
        <activity android:name=".TGC1Activity" />
        <activity android:name=".TGC2Activity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".FoodManagerActivity" />
        <activity android:name=".NdischargedActivity" />
        <activity android:name=".PdischargedActivity" />
        <activity android:name=".PredictActivity" />
        <activity android:name=".FoodinfoActivity" />
        <activity android:name=".FishActivity" />
        <activity android:name=".ChartActivity" />
        <activity android:name=".FishFeedActivity" />
        <activity android:name=".FeedpreActivity" />
        <activity android:name=".RegistActivity"></activity>
    </application>

</manifest>